@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>This is Display Pages</h1>
<p>
    Saari umar hum
    Mar mar ke jee liye
    Ek pal to ab humein jeene do
    Jeene do

</p>
